<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LiveMoe - Video</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow: hidden;
    }

    html,
    body {
      width: 100vw;
      height: 100vh;
    }

    #app {
      width: 100%;
      height: 100%;
    }

    #live_video {
      width: 100vw;
      height: 100vh;
    }
    video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  </style>
  <body>
    <div id="app">
      <!-- video 播放器区域 -->
      <div id="__live_video__">
        <video id="__video_instance__" loop></video>
      </div>
    </div>
  </body>
</html>
