.appbar-menu > .MuiMenu-paper {
  max-width: 220px;
}

.appbar-menu > div > ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.appbar-menu > div > ul > li {
  padding: 8px 4px;
  min-width: 84px;
  min-height: 84px;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  gap: 0.25rem;
}

.appbar-menu > div > ul > li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
